---
layout: default
comments: true
---
{% include custom/facebook-init.html %}

<div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">[Crosswords] {{ page.title }}</h1>
    {% if page.date %}<p class="meta">{% include custom/short_date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}

  <div class="puzzle-container single-puzzle">
    <div class="puzzle">
      <div class="info notes"><em>Constructor notes</em>: {{ page.notes }}</div>
      <div class="info difficulty"><em>Approx. difficulty</em>: NYT {{ page.day_of_week }}</div>

      <div class="center">
        <a data-fancybox="gallery" href="/crosswords/{{page.slug}}/{{page.slug}}.pdf"><img src="/crosswords/{{page.slug}}/{{page.slug}}.png" width="150" height="194" alt="" /></a>
      </div>

      <div class="info files">
        <a href="/crosswords/{{page.slug}}/{{page.slug}}.png">PNG</a> |
        <a href="/crosswords/{{page.slug}}/{{page.slug}}.puz" download>PUZ</a> |
        <a href="/crosswords/{{page.slug}}/{{page.slug}}.ipuz" download>IPUZ</a> |
        <a href="/crosswords/{{page.slug}}/{{page.slug}}-solution.png">solution</a>
      </div>
    </div>
    <div class="back"><a href="/crosswords">← back</a></div>
  </div>

  To solve on your computer, open the <code>.puz</code> file in <a href="http://derekslager.com/puz/" target="_blank">this online solver</a> or in <a href="https://www.litsoft.com/across/alite/download/" target="_blank">Across Lite</a>.

    <footer>
      {% include post/sharing.html %}
    </footer>
</article>
  <section>
    <h2 style="margin-bottom:0;">Solved it? Gave up? Loved it? Hated it? Leave a comment!</h2>
    <h3>(No spoilers please!)</h3>
    <div class="fb-comments" data-href="http://code.maiamccormick.com/crosswords/{{ page.slug }}" data-colorscheme="light" data-num-posts="6" data-width="100%"></div>
  </section>
</div>
<aside class="sidebar">
  {% include sidebar.html %}
</aside>
