.puzzle-container {
    .puzzle {
        margin-top: 1.5em;
    }

    h3 {
        margin-bottom: 0.5em;
    }

    .info {
        padding-left: 2em;
        text-indent: -2em;
    }
}

.single-puzzle {
  img {
    margin: 0.5em;
  }

  .files {
    float: right;
  }

  .back {
    display: inline;
  }
}